@import '../../../styles/theme.scss';

.ChipsList {
    display: flex;
}

.ChipsItem {
    display: flex;
    align-items: center;
    padding: 4px 6px;

    height: 100%;
    margin-right: 8px;

    background-color: $color300;
    border-radius: 4px;

    color: $color900;

    &_btn {
        border: none;
        background-color: inherit;
        cursor: pointer;

        padding-left: 8px;

        svg {
            width: 10px;
            height: 10px;
        }
    }

    &_input, &_text {
        padding: 0;
        height: 100%;
        width: max-content;
    }

    &__selected {
        background-color: $color500;
    }
}