* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

input {
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  background-color: inherit;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}