@import '../../styles/theme.scss';

.ChipsInput {
    &_wrapper {
        display: flex;
        align-items: center;

        padding: 8px 12px;

        height: 40px;
        width: 100%;

        background-color: $color200;
        border-radius: 8px;

        color: $color800;
        font-weight: 500;

        /* TODO MAKE OVERFLOW */
    }
}